<?xml version='1.0' encoding='utf-8'?>
<widget id="tech.raf924.chatron" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chatron</name>
    <description>
        A cross platform client for communication services
    </description>
    <author email="rafael@raf924.tech" href="https://github.com/raf924/">
        Rafael Naciri
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="22" />
    <app-icon height="128" src="icon128.png" width="128" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="cordova-plugin-background-mode" spec="0.7.2" />
    <plugin name="cordova-plugin-nativestorage" spec="2.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.5" />
</widget>
