<li class="message">
    <div class="title mdc-list-item__text__secondary">
        <span class="nick"></span>&nbsp;<span class="trip"></span>
        <span class="mod hidden material-icons">card_membership</span>
    </div>
    <div class="text-wrapper mdc-elevation--z2">
            <div class="title mdc-list-item__text__secondary">
                <span class="nick"></span>&nbsp;<span class="trip"></span>
                <span class="mod hidden material-icons">card_membership</span>
            </div>
        <pre class="text"></pre>
    </div>
    <span class="timestamp hidden"></span>
</li>