// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times

// Width variables (appears count calculates by raw css)
@width2: 100%; // Appears 2 times

@drawerWidth: 240px;

@titlebarButtonSize: 0.8em;
@titleBarButtonIconPadding: 25%;
@titleBarButtonIconSize: calc(@titlebarButtonSize ~"-" @titleBarButtonIconPadding);

@avatarSize: 40px;
@iconSize: 24px;

:root {
  --mdc-theme-background: #c2c2c2;
  --mdc-theme-primary: #26a69a;
}

.titlebar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  & .titlebar-stoplight > div {
    width: @titlebarButtonSize;
    height: @titlebarButtonSize;
    & > svg {
      margin-top: 0 !important;
      margin-left: 0 !important;
      padding: @titleBarButtonIconPadding/2 !important;
      width: @titleBarButtonIconSize;
      height: @titleBarButtonIconSize;
    }
  }
}

a {
  color: initial;
  text-decoration: none;
}

html {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 1rem;
}

@appBarHeight: 56px;

#app-bar {
  height: @appBarHeight;
  z-index: 4;
  position: absolute;
  background-color: white;
  left: @drawerWidth;
  width: calc(100% ~"-" @drawerWidth);
  #toolbar {
    float: right;
  }
  #menu{
    float: right;
  }
  #sidemenu-collapse {
    display: none;
    float: left;
  }
}

#chatBox-wrapper {
  background: @color0;
  border-radius: 0.4em;
  bottom: 0;
  margin-bottom: 0.5rem;
  height: 3rem;
  padding: 0;
  position: fixed;
  width: calc(98% ~"-" @drawerWidth);
  #chatBox {
    padding: 0.8rem;
  }
}

#title {
  text-align: center;
}

#addChannel {
  text-align: center;
  & form {
    padding: 0 1rem;
    & div {
      width: 100%;
      & input {
        width: 100%;
      }
    }
  }
}

.tab {
  .fav::before {
    content: "\E83A";
  }
  &[data-is-fav="true"] {
    .fav::before {
      color: gold;
      content: "\E838";
    }
  }
  &:before {
    z-index: -1;
  }
  .counter {
    margin: 0 0.2rem;
  }
  .ch-link {
    &.active {
      border-bottom: 0.01em solid crimson;
    }
    padding: 0.4rem;
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ch-close {
    position: absolute;
    right: 0;
  }
}

@messageWidth: 80%;

.message {
  margin-bottom: 0.1rem;
  margin-right: calc(100% - @messageWidth);
  max-width: @messageWidth;
  clear: both;
  float: left;
  & > .title {
    display: none;
  }
  & + .from-last-sender {
    margin-top: 0 !important;
  }
  &.from-last-sender {
    .title {
      display: none !important;
    }
  }
  & + .message {
    margin-top: 0.5rem;
  }
  &.cmd {
    & > .title {
      display: inherit !important;
    }
    .text-wrapper {
      display: none;
    }
    .timestamp {
      display: block !important;
      line-height: 0;
    }
    & + .cmd {
      margin-top: 0;
    }
  }
  &.from-user {
    float: right;
    margin-left: calc(100% - @messageWidth);
    margin-right: 0;
    text-align: right;
    .title {
      float: right;
    }
    .text-wrapper {
      float: right;
    }
    .timestamp {
      float: right;
      clear: right;
    }
  }
  .text-wrapper {
    background: @color0;
    border-radius: 0.4rem;
    display: table;
    margin: 0 !important;
    padding: 0.3rem;
    .text {
      font-family: Roboto, sans-serif;
      margin: 0;
      white-space: normal;
      word-wrap: break-word;
      //noinspection CssInvalidPropertyValue
      word-break: break-word;
      clear: both;
      a {
        word-break: break-all;
      }
    }
  }
  .timestamp {
    float: left;
    font-size: 0.6rem;
    &.hidden {
      visibility: hidden;
    }
  }
  .text {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    * {
      -moz-user-select: text;
      -ms-user-select: text;
      -webkit-user-select: text;
      user-select: text;
    }
  }
  .title {
    font-size: 0.8em;
    .trip {
      font-size: 0.8em;
    }
    .nick[data-nick] {
      cursor: pointer;
    }
  }
  .mod {
    font-size: 1.3em;
    &.hidden {
      display: none;
    }
  }
}

body {
  font-family: Roboto, sans-serif;
  margin-top: calc(@titlebarButtonSize ~"+" 12px);
  &.cordova {
    margin-top: 0;
    .messages {
      margin-bottom: 0;
    }
  }
  * {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

input {
  -moz-user-select: initial;
  -ms-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

textarea {
  -moz-user-select: initial;
  -ms-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

main {
  left: @drawerWidth;
  padding: 0 1%;
  position: fixed;
  width: calc(100% ~"-" @drawerWidth);
  height: 100%;
  margin-top: @appBarHeight;
}

#sidemenu {
  background: @color0;
  position: fixed;
  width: @drawerWidth;
  z-index: 16;
  a {
    user-select: none;
  }
  div.menu-header {
    cursor: pointer;
    display: block;
    line-height: 3rem;
    margin: 0;
    min-height: 3rem;
    padding: 0 1em;
    .caret {
      &::after {
        content: '\E5CF';
        float: right;
        font-family: "Material Icons", sans-serif;
        font-size: x-large;
        transform: rotate(180deg);
        transition: all 200ms;
      }
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  div.menu-header.collapsed {
    .caret {
      &::after {
        transform: rotate(0deg);
        transition: all 200ms;
      }
    }
  }
  .mdc-list-group {
    .mdc-list-item {
      cursor: pointer;
    }
  }
  .favourite, .tab {
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.channel {
  display: none;
  &.active {
    display: initial;
  }
}

.messages {
  overflow-y: scroll;
  position: absolute;
  bottom: calc(4rem ~"+" @appBarHeight);
  margin-bottom: calc(@titlebarButtonSize ~"+" 12px);
  top: 0;
  max-height: calc(100% ~"-" 3.5rem);
  padding: 0;
  padding-right: 1%;
  width: 98.6%;
  &::-webkit-scrollbar {
    width: 0.4%;
    &-thumb {
      background-color: rgba(0, 0, 0, 0.46);
      border-radius: 1em;
    }
  }
}

.dialog {
  background: white;
  bottom: auto;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  display: none;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  left: 50%;
  min-width: calc(@drawerWidth * 2);
  position: fixed;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-left: calc(@drawerWidth / 2);
  will-change: display;
  &.open {
    display: inline-flex;
  }
  &-header {
    align-items: center;
    display: flex;
    padding: 24px 24px 20px 24px;
    &__title {
      flex: 1;
      font-size: 20px;
      //noinspection CssInvalidPropertyValue
      font-weight: medium;
      letter-spacing: 0.02em;
      line-height: 32px;
      margin: 0;
    }
  }

  &-body {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 23px;
    padding: 0px 24px 24px 24px;
  }

  &-footer {
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
    &__btn {
      appearance: none;
      background: none;
      border: none;
      color: #2196f3;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 24px;
      margin-right: 8px;
      text-transform: uppercase;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  &.hidden {
    display: none;
  }
}

.tool {
  & > .material-icons {
    padding: calc(~"("@appBarHeight~"-"@iconSize~")" / 2);
    font-size: @iconSize;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

@import "imports/small-screens";