@media only screen and (max-width: 640px) {

  .dialog {
    min-width: 280px;
    .dialog-body {
      font-size: 14px;
      line-height: 24px;
    }
  }

  #sidemenu {
    left: -100%;
    right: 100%;
    transition: left 500ms, right 500ms;
    will-change: left, right;
    width: unset;
    &.open {
      left: 0;
      right: 56px;
    }
  }

  #sidemenu-collapse {
    margin: calc( ~"(" @appBarHeight ~"-" @iconSize ~")" / 2);
    font-size: @iconSize;
    cursor: pointer;
  }

  main {
    left: 0;
    width: 100%;
    margin-top: @appBarHeight;
  }

  .messages {
    bottom: calc(4rem ~"+" @appBarHeight);
  }

  #chatBox-wrapper {
    width: 98%;
  }

  #app-bar {
    display: inline;
  }
}