@media only screen and (max-width: 992px) {
  #sidemenu {
    left: -@drawerWidth;
    transition: left 500ms;
    &.open {
      left: 0;
    }
  }

  #sidemenu-collapse {
    padding: ~"calc((3rem - 24px) / 2)";
  }

  main {
    left: 0;
    width: 100%;
    margin-top: @appBarHeight;
  }

  .messages {
    bottom: 4rem + @appBarHeight;
  }

  #chatBox-wrapper {
    width: 98%;
  }

  #app-bar {
    display: inline;
  }
}